<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge default-src">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piano</title>
    <link rel="stylesheet" href="/piano.css">
    <script defer src="/piano.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script>
        const currentSong = <%- JSON.stringify(locals.song) || 'undefined' %>
    </script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script> -->

</head>

<body>

    <div class="wrapper">
        <header>
            <h2> SUBH Piano</h2>
            <%if (locals.song==null) {%>
                <div title="Record" class="container">
                    <button class="icons ">
                        <svg height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 278.163 278.163"
                            xml:space="preserve">
                            <g>
                                <g>
                                    <path style="fill:#4EFFBB;" d="M225.235,94.987h-25.17V69.762c0-29.47-23.281-53.436-51.902-53.436
			c-28.594,0-51.875,23.965-51.875,53.436v25.225H69.283c-3.834,0-6.957,3.177-6.957,7.148v50.067
			c0,45.794,34.4,83.454,78.004,87.097v24.568h-20.596c-3.834,0-6.929,3.177-6.929,7.148c0,3.944,3.095,7.148,6.929,7.148h54.12
			c3.834,0,6.957-3.204,6.957-7.148c0-3.971-3.122-7.148-6.957-7.148h-19.665v-24.568c43.603-3.643,77.976-41.302,77.976-87.097
			v-50.067C232.165,98.165,229.07,94.987,225.235,94.987z M218.279,152.203c0,40.316-31.853,73.128-71.019,73.128
			s-71.047-32.812-71.047-73.128v-42.918h20.076v41.713c0,29.443,23.281,53.436,51.875,53.436c28.621,0,51.902-23.993,51.902-53.436
			v-41.713h18.214C218.279,109.284,218.279,152.203,218.279,152.203z" />
                                    <g id="XMLID_18_">
                                        <g>
                                            <path style="fill:#302C58;" d="M169.852,114.513v20.158c0,21.582-17.036,39.139-38.016,39.139
					c-20.952,0-37.988-17.556-37.988-39.139v-20.158h7.176c3.807,0,6.929-3.204,6.929-7.149c0-3.944-3.122-7.148-6.929-7.148h-7.176
					V63.433h7.176c3.807,0,6.929-3.204,6.929-7.149s-3.122-7.149-6.929-7.149h-6.929c2.082-19.556,18.214-34.839,37.742-34.839
					c19.556,0,35.688,15.283,37.769,34.839h-7.258c-3.834,0-6.929,3.205-6.929,7.149s3.095,7.149,6.929,7.149h7.505v36.783h-7.505
					c-3.834,0-6.929,3.204-6.929,7.148s3.095,7.149,6.929,7.149C162.348,114.513,169.852,114.513,169.852,114.513z" />
                                            <path style="fill:#222051;" d="M53.458,137.824L53.458,137.824c-4.18,0-7.359,3.659-6.907,7.814
					c1.137,10.443,4.073,20.331,8.474,29.336c1.175,2.407,3.607,3.949,6.286,3.949h0.063c5.122,0,8.526-5.368,6.253-9.956
					c-3.782-7.625-6.302-16.02-7.272-24.888C59.968,140.532,57.026,137.824,53.458,137.824z" />
                                            <path style="fill:#222051;" d="M208.909,78.661h-25.17V53.436C183.738,23.965,160.458,0,131.836,0
					c-28.594,0-51.875,23.965-51.875,53.436v25.225H52.956c-3.834,0-6.957,3.177-6.957,7.149v40.818
					c0,3.834,3.109,6.943,6.943,6.943l0,0c3.834,0,6.943-3.109,6.943-6.943v-33.67h20.076v41.713
					c0,29.443,23.281,53.436,51.875,53.436c28.621,0,51.902-23.993,51.902-53.436V92.958h18.214v42.918
					c0,40.316-31.853,73.128-71.019,73.128c-20.528,0-39.048-9.016-52.025-23.401c-1.364-1.512-3.265-2.427-5.302-2.427l0,0
					c-6.023,0-9.304,7.138-5.302,11.638c14.07,15.825,33.708,26.321,55.701,28.159v24.568h-20.596c-3.834,0-6.929,3.177-6.929,7.148
					c0,3.944,3.095,7.149,6.929,7.149h54.12c3.834,0,6.957-3.204,6.957-7.149c0-3.971-3.122-7.148-6.957-7.148h-19.665v-24.568
					c43.603-3.643,77.976-41.302,77.976-87.097V85.809C215.838,81.838,212.743,78.661,208.909,78.661z M169.852,100.216h-7.505
					c-3.834,0-6.929,3.204-6.929,7.148s3.095,7.149,6.929,7.149h7.505v20.158c0,21.582-17.036,39.139-38.016,39.139
					c-20.952,0-37.988-17.556-37.988-39.139v-20.158h7.176c3.807,0,6.929-3.204,6.929-7.149c0-3.944-3.122-7.148-6.929-7.148h-7.176
					V63.433h7.176c3.807,0,6.929-3.204,6.929-7.149s-3.122-7.149-6.929-7.149h-6.929c2.082-19.556,18.214-34.839,37.742-34.839
					c19.556,0,35.688,15.283,37.769,34.839h-7.258c-3.834,0-6.929,3.205-6.929,7.149s3.095,7.149,6.929,7.149h7.505v36.783H169.852z
					" />
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
                <div title="Save" class="container2">
                    <button class="icons2 ">
                        <svg height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 496.158 496.158"
                            xml:space="preserve">
                            <path style="fill:#337180;" d="M496.158,248.085c0-137.022-111.068-248.082-248.074-248.082C111.07,0.003,0,111.063,0,248.085
	c0,137.001,111.07,248.07,248.084,248.07C385.09,496.155,496.158,385.086,496.158,248.085z" />
                            <g>
                                <path style="fill:#DFF2F4;" d="M73.412,251.075c0,3.313-2.686,6-6,6H56.746c-3.314,0-6-2.687-6-6v-6.5c0-3.313,2.686-6,6-6h10.666
		c3.314,0,6,2.687,6,6V251.075z" />
                                <path style="fill:#DFF2F4;" d="M104.412,266.825c0,3.313-2.686,6-6,6H87.746c-3.314,0-6-2.687-6-6v-37.5c0-3.313,2.686-6,6-6
		h10.666c3.314,0,6,2.687,6,6V266.825z" />
                            </g>
                            <g>
                                <path style="fill:#B5E3EA;" d="M135.412,274.579c0,3.313-2.686,6-6,6h-10.666c-3.314,0-6-2.687-6-6v-53c0-3.313,2.686-6,6-6h10.666
		c3.314,0,6,2.687,6,6V274.579z" />
                                <path style="fill:#B5E3EA;" d="M166.412,290.079c0,3.313-2.686,6-6,6h-10.666c-3.314,0-6-2.687-6-6v-84c0-3.313,2.686-6,6-6h10.666
		c3.314,0,6,2.687,6,6V290.079z" />
                            </g>
                            <g>
                                <path style="fill:#A3D5E0;" d="M197.412,321.079c0,3.313-2.686,6-6,6h-10.666c-3.314,0-6-2.687-6-6v-146c0-3.313,2.686-6,6-6
		h10.666c3.314,0,6,2.687,6,6V321.079z" />
                                <path style="fill:#A3D5E0;" d="M228.412,336.579c0,3.313-2.686,6-6,6h-10.666c-3.314,0-6-2.687-6-6v-177c0-3.313,2.686-6,6-6
		h10.666c3.314,0,6,2.687,6,6V336.579z" />
                            </g>
                            <path style="fill:#8EC5CE;" d="M259.412,383.079c0,3.313-2.686,6-6,6h-10.666c-3.314,0-6-2.687-6-6v-270c0-3.313,2.686-6,6-6h10.666
	c3.314,0,6,2.687,6,6V383.079z" />
                            <g>
                                <path style="fill:#A3D5E0;" d="M290.412,321.079c0,3.313-2.686,6-6,6h-10.666c-3.314,0-6-2.687-6-6v-146c0-3.313,2.686-6,6-6
		h10.666c3.314,0,6,2.687,6,6V321.079z" />
                                <path style="fill:#A3D5E0;" d="M321.412,290.079c0,3.313-2.686,6-6,6h-10.666c-3.314,0-6-2.687-6-6v-84c0-3.313,2.686-6,6-6h10.666
		c3.314,0,6,2.687,6,6V290.079z" />
                            </g>
                            <g>
                                <path style="fill:#B5E3EA;" d="M352.412,305.579c0,3.313-2.686,6-6,6h-10.666c-3.314,0-6-2.687-6-6v-115c0-3.313,2.686-6,6-6
		h10.666c3.314,0,6,2.687,6,6V305.579z" />
                                <path style="fill:#B5E3EA;" d="M383.412,274.575c0,3.313-2.686,6-6,6h-10.666c-3.314,0-6-2.687-6-6v-53c0-3.313,2.686-6,6-6h10.666
		c3.314,0,6,2.687,6,6V274.575z" />
                            </g>
                            <g>
                                <path style="fill:#DFF2F4;" d="M445.412,251.261c0,3.314-2.686,6-6,6h-10.666c-3.314,0-6-2.686-6-6v-6.5c0-3.313,2.686-6,6-6
		h10.666c3.314,0,6,2.687,6,6V251.261z" />
                                <path style="fill:#DFF2F4;" d="M414.412,259.079c0,3.313-2.686,6-6,6h-10.666c-3.314,0-6-2.687-6-6v-22c0-3.313,2.686-6,6-6h10.666
		c3.314,0,6,2.687,6,6V259.079z" />
                            </g>
                        </svg>
                    </button>
                </div>
                <%} 
                else { %>
                    <a href="/" title="Record new song" class="container" style="padding-left: 83px; margin-right: 0">
                        <button class="icons " style="background-color: rgb(79, 42, 114);">
                            <svg height="25px" width="25px" version="1.1" id="Layer_1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 278.163 278.163" xml:space="preserve">
                                <g>
                                    <g>
                                        <path style="fill:#4EFFBB;" d="M225.235,94.987h-25.17V69.762c0-29.47-23.281-53.436-51.902-53.436
                c-28.594,0-51.875,23.965-51.875,53.436v25.225H69.283c-3.834,0-6.957,3.177-6.957,7.148v50.067
                c0,45.794,34.4,83.454,78.004,87.097v24.568h-20.596c-3.834,0-6.929,3.177-6.929,7.148c0,3.944,3.095,7.148,6.929,7.148h54.12
                c3.834,0,6.957-3.204,6.957-7.148c0-3.971-3.122-7.148-6.957-7.148h-19.665v-24.568c43.603-3.643,77.976-41.302,77.976-87.097
                v-50.067C232.165,98.165,229.07,94.987,225.235,94.987z M218.279,152.203c0,40.316-31.853,73.128-71.019,73.128
                s-71.047-32.812-71.047-73.128v-42.918h20.076v41.713c0,29.443,23.281,53.436,51.875,53.436c28.621,0,51.902-23.993,51.902-53.436
                v-41.713h18.214C218.279,109.284,218.279,152.203,218.279,152.203z" />
                                        <g id="XMLID_18_">
                                            <g>
                                                <path style="fill:#302C58;"
                                                    d="M169.852,114.513v20.158c0,21.582-17.036,39.139-38.016,39.139
                        c-20.952,0-37.988-17.556-37.988-39.139v-20.158h7.176c3.807,0,6.929-3.204,6.929-7.149c0-3.944-3.122-7.148-6.929-7.148h-7.176
                        V63.433h7.176c3.807,0,6.929-3.204,6.929-7.149s-3.122-7.149-6.929-7.149h-6.929c2.082-19.556,18.214-34.839,37.742-34.839
                        c19.556,0,35.688,15.283,37.769,34.839h-7.258c-3.834,0-6.929,3.205-6.929,7.149s3.095,7.149,6.929,7.149h7.505v36.783h-7.505
                        c-3.834,0-6.929,3.204-6.929,7.148s3.095,7.149,6.929,7.149C162.348,114.513,169.852,114.513,169.852,114.513z" />
                                                <path style="fill:#222051;" d="M53.458,137.824L53.458,137.824c-4.18,0-7.359,3.659-6.907,7.814
                        c1.137,10.443,4.073,20.331,8.474,29.336c1.175,2.407,3.607,3.949,6.286,3.949h0.063c5.122,0,8.526-5.368,6.253-9.956
                        c-3.782-7.625-6.302-16.02-7.272-24.888C59.968,140.532,57.026,137.824,53.458,137.824z" />
                                                <path style="fill:#222051;" d="M208.909,78.661h-25.17V53.436C183.738,23.965,160.458,0,131.836,0
                        c-28.594,0-51.875,23.965-51.875,53.436v25.225H52.956c-3.834,0-6.957,3.177-6.957,7.149v40.818
                        c0,3.834,3.109,6.943,6.943,6.943l0,0c3.834,0,6.943-3.109,6.943-6.943v-33.67h20.076v41.713
                        c0,29.443,23.281,53.436,51.875,53.436c28.621,0,51.902-23.993,51.902-53.436V92.958h18.214v42.918
                        c0,40.316-31.853,73.128-71.019,73.128c-20.528,0-39.048-9.016-52.025-23.401c-1.364-1.512-3.265-2.427-5.302-2.427l0,0
                        c-6.023,0-9.304,7.138-5.302,11.638c14.07,15.825,33.708,26.321,55.701,28.159v24.568h-20.596c-3.834,0-6.929,3.177-6.929,7.148
                        c0,3.944,3.095,7.149,6.929,7.149h54.12c3.834,0,6.957-3.204,6.957-7.149c0-3.971-3.122-7.148-6.957-7.148h-19.665v-24.568
                        c43.603-3.643,77.976-41.302,77.976-87.097V85.809C215.838,81.838,212.743,78.661,208.909,78.661z M169.852,100.216h-7.505
                        c-3.834,0-6.929,3.204-6.929,7.148s3.095,7.149,6.929,7.149h7.505v20.158c0,21.582-17.036,39.139-38.016,39.139
                        c-20.952,0-37.988-17.556-37.988-39.139v-20.158h7.176c3.807,0,6.929-3.204,6.929-7.149c0-3.944-3.122-7.148-6.929-7.148h-7.176
                        V63.433h7.176c3.807,0,6.929-3.204,6.929-7.149s-3.122-7.149-6.929-7.149h-6.929c2.082-19.556,18.214-34.839,37.742-34.839
                        c19.556,0,35.688,15.283,37.769,34.839h-7.258c-3.834,0-6.929,3.205-6.929,7.149s3.095,7.149,6.929,7.149h7.505v36.783H169.852z
                        " />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </button>
                    </a>
                    
                   
                    </>
                    <% } %>



                        <div title="Play" class="container3 ">
                            <button class="icons3 <%= locals.song !=null ? 'show' : '' %>" >
                                <svg height="30px" width="30px" version="1.1" id="Layer_1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    viewBox="0 0 496.2 496.2" xml:space="preserve">
                                    <path style="fill:#FABC3D;" d="M496.2,248.1C496.2,111.1,385.1,0,248.1,0S0,111.1,0,248.1s111.1,248.1,248.1,248.1
	S496.2,385.1,496.2,248.1z" />
                                    <path style="fill:#AA6F29;" d="M306.4,334.5c0-22.3,8.2-28.9,8.2-46.8c0-39.5-30.2-48.3-67.5-48.3s-67.5,8.8-67.5,48.3
	c0,17.9,8.2,25.1,8.2,46.8c0,21.6-25.5,42.4-25.5,71.7c0,49.6,37.9,62.9,84.8,62.9c46.8,0,84.7-13.3,84.7-62.9
	C331.9,376.9,306.4,356.8,306.4,334.5z" />
                                    <path style="fill:#7A5529;" d="M276.2,302.9c0,16.3-13.2,29.5-29.5,29.5s-29.5-13.2-29.5-29.5s13.2-29.5,29.5-29.5
	C263,273.3,276.2,286.5,276.2,302.9z" />
                                    <path style="fill:#4C331B;" d="M268.6,302.9c0,12.1-9.8,21.9-21.9,21.9s-21.9-9.8-21.9-21.9s9.8-21.9,21.9-21.9
	C258.8,281,268.6,290.8,268.6,302.9z" />
                                    <g>
                                        <path style="fill:#634421;"
                                            d="M246.6,324.8c-1,0-1.9-0.1-2.9-0.2C244.6,324.7,245.6,324.8,246.6,324.8z" />
                                        <path style="fill:#634421;"
                                            d="M246.7,324.8c1.1,0,2.1-0.1,3.1-0.3C248.8,324.6,247.7,324.8,246.7,324.8L246.7,324.8z" />
                                    </g>
                                    <g>
                                        <path style="fill:#704C21;"
                                            d="M246.6,324.8L246.6,324.8L246.6,324.8L246.6,324.8z" />
                                        <path style="fill:#704C21;" d="M263.6,288.9v-2.7l-4.8-211.8H235l-4.8,211.5v2.6l-0.3,28.3c3.4,4.1,8.3,7,13.9,7.7
		c1,0.1,1.9,0.2,2.9,0.2c0,0,0,0,0.1,0c1.1,0,2.1-0.1,3.2-0.3c5.7-0.8,10.7-3.8,14.1-8.1L263.6,288.9z" />
                                        <path style="fill:#704C21;" d="M246.6,28.2c-8.5,0-15.4,3.1-15.4,12.4v30.8c0,9.3,6.9,16.9,15.4,16.9S262,80.7,262,71.4V40.7
		C262,31.3,255.1,28.2,246.6,28.2z" />
                                        <path style="fill:#704C21;" d="M246.6,26.9c-0.5,0-2.3-1.2-4.2-1.1c-1.8,0-6,6-6,6c0,9.3,4.6,16.9,10.2,16.9
		c5.7,0,10.2-7.6,10.2-16.9c0,0-4.4-6.1-6.2-6.1C248.8,25.8,247.2,26.9,246.6,26.9z" />
                                    </g>
                                    <g>
                                        <path style="fill:#7A5529;" d="M287.6,408.4c0,2.8-2.3,5.1-5.1,5.1h-69.4c-2.8,0-5.1-2.3-5.1-5.1l0,0c0-2.8,2.3-5.1,5.1-5.1h69.4
		C285.3,403.3,287.6,405.6,287.6,408.4L287.6,408.4z" />
                                        <path style="fill:#7A5529;" d="M272.5,408.4c0,1.7-1.4,3.2-3.2,3.2h-43.1c-1.7,0-3.2-1.4-3.2-3.2l0,0c0-1.7,1.4-3.2,3.2-3.2h43.1
		C271.1,405.2,272.5,406.7,272.5,408.4L272.5,408.4z" />
                                    </g>
                                    <g style="opacity:0.5;">
                                        <polygon style="fill:#D3D3D3;"
                                            points="234.9,408.9 233.5,408.9 236.9,62.7 238,62.7 	" />
                                        <polygon style="fill:#D3D3D3;"
                                            points="255.1,408.6 253.8,408.6 252,49.4 253.1,49.4 	" />
                                        <polygon style="fill:#D3D3D3;"
                                            points="260.2,408.6 258.9,408.6 255.7,62.9 256.7,62.9 	" />
                                        <polygon style="fill:#D3D3D3;"
                                            points="240.2,408.6 238.8,408.6 240.7,49.6 241.8,49.6 	" />
                                        <polygon style="fill:#D3D3D3;"
                                            points="250.1,408.9 248.8,408.9 248.3,36.6 249.3,36.6 	" />
                                        <polygon style="fill:#D3D3D3;"
                                            points="244.8,408.9 243.4,408.9 244.5,36.7 245.5,36.7 	" />
                                    </g>
                                    <g>
                                        <path style="fill:#5F431D;" d="M264.2,39.8c-1,0-1.7-0.4-1.7-0.8v-4.3c0-0.4,0.8-0.8,1.7-0.8l0,0c1,0,1.7,0.4,1.7,0.8V39
		C265.9,39.4,265.1,39.8,264.2,39.8L264.2,39.8z" />
                                        <path style="fill:#5F431D;" d="M264.2,53.5c-1,0-1.7-0.4-1.7-0.8v-4.3c0-0.4,0.8-0.8,1.7-0.8l0,0c1,0,1.7,0.4,1.7,0.8v4.3
		C265.9,53.2,265.1,53.5,264.2,53.5L264.2,53.5z" />
                                        <path style="fill:#5F431D;" d="M263.2,62H257c-1,0-1.7,0.8-1.7,1.7c0,1,0.8,1.7,1.7,1.7h6.2c1,0,1.7-0.8,1.7-1.7
		C264.9,62.7,264.2,62,263.2,62z" />
                                        <path style="fill:#5F431D;" d="M264.2,66.6c-1,0-1.7-0.4-1.7-0.8v-4.3c0-0.4,0.8-0.8,1.7-0.8l0,0c1,0,1.7,0.4,1.7,0.8v4.3
		C265.9,66.3,265.1,66.6,264.2,66.6L264.2,66.6z" />
                                        <path style="fill:#5F431D;" d="M228.8,39.8c1,0,1.7-0.4,1.7-0.8v-4.3c0-0.4-0.8-0.8-1.7-0.8l0,0c-1,0-1.7,0.4-1.7,0.8V39
		C227,39.4,227.8,39.8,228.8,39.8L228.8,39.8z" />
                                        <path style="fill:#5F431D;" d="M228.8,53.5c1,0,1.7-0.4,1.7-0.8v-4.3c0-0.4-0.8-0.8-1.7-0.8l0,0c-1,0-1.7,0.4-1.7,0.8v4.3
		C227,53.2,227.8,53.5,228.8,53.5L228.8,53.5z" />
                                        <path style="fill:#5F431D;" d="M264.9,36.8c0-1-0.8-1.7-1.7-1.7h-14.3c-1,0-1.7,0.8-1.7,1.7c0,1,0.8,1.7,1.7,1.7h14.3
		C264.2,38.5,264.9,37.8,264.9,36.8z" />
                                        <path style="fill:#5F431D;" d="M263.2,48.9h-9.9c-1,0-1.7,0.8-1.7,1.7c0,1,0.8,1.7,1.7,1.7h9.9c1,0,1.7-0.8,1.7-1.7
		C264.9,49.6,264.2,48.9,263.2,48.9z" />
                                        <path style="fill:#5F431D;" d="M244.9,35.1h-15.1c-1,0-1.7,0.8-1.7,1.7c0,1,0.8,1.7,1.7,1.7h15.1c1,0,1.7-0.8,1.7-1.7
		S245.8,35.1,244.9,35.1z" />
                                        <path style="fill:#5F431D;" d="M240.5,48.9h-10.8c-1,0-1.7,0.8-1.7,1.7c0,1,0.8,1.7,1.7,1.7h10.8c1,0,1.7-0.8,1.7-1.7
		C242.2,49.6,241.5,48.9,240.5,48.9z" />
                                        <path style="fill:#5F431D;" d="M236.8,62h-7.1c-1,0-1.7,0.8-1.7,1.7c0,1,0.8,1.7,1.7,1.7h7.1c1,0,1.7-0.8,1.7-1.7
		C238.5,62.7,237.8,62,236.8,62z" />
                                        <path style="fill:#5F431D;" d="M228.8,66.6c1,0,1.7-0.4,1.7-0.8v-4.3c0-0.4-0.8-0.8-1.7-0.8l0,0c-1,0-1.7,0.4-1.7,0.8v4.3
		C227,66.3,227.8,66.6,228.8,66.6L228.8,66.6z" />
                                    </g>
                                    <g>
                                        <path style="fill:#543919;"
                                            d="M246.4,36.9c0,1.2-1,2.2-2.2,2.2s-2.2-1-2.2-2.2s1-2.2,2.2-2.2S246.4,35.7,246.4,36.9z" />
                                        <path style="fill:#543919;"
                                            d="M251.6,36.9c0,1.2-1,2.2-2.2,2.2s-2.2-1-2.2-2.2s1-2.2,2.2-2.2S251.6,35.7,251.6,36.9z" />
                                        <path style="fill:#543919;"
                                            d="M243.2,50.5c0,1.2-1,2.2-2.2,2.2s-2.2-1-2.2-2.2s1-2.2,2.2-2.2S243.2,49.2,243.2,50.5z" />
                                        <path style="fill:#543919;"
                                            d="M254.8,50.5c0,1.2-1,2.2-2.2,2.2s-2.2-1-2.2-2.2s1-2.2,2.2-2.2C253.8,48.2,254.8,49.2,254.8,50.5z" />
                                        <path style="fill:#543919;"
                                            d="M239.5,63.7c0,1.2-1,2.2-2.2,2.2s-2.2-1-2.2-2.2s1-2.2,2.2-2.2S239.5,62.5,239.5,63.7z" />
                                        <path style="fill:#543919;"
                                            d="M258.5,63.7c0,1.2-1,2.2-2.2,2.2s-2.2-1-2.2-2.2s1-2.2,2.2-2.2S258.5,62.5,258.5,63.7z" />
                                    </g>
                                </svg>
                            </button>
                        </div>

                        <a class="container4" title="View songs" href="#">
                            <button class="icons4">
                                <svg height="30px" width="30px" version="1.1" id="Layer_1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    viewBox="0 0 496.2 496.2" xml:space="preserve">
                                    <path style="fill:#EA4949;" d="M496.2,248.1C496.2,111.1,385.1,0,248.1,0S0,111.1,0,248.1s111.1,248.1,248.1,248.1
	S496.2,385.1,496.2,248.1z" />
                                    <path style="fill:#5B4F3F;" d="M141.6,405.5h213c5.3,0,9.5-4.3,9.5-9.5V100.2c0-5.3-4.3-9.5-9.5-9.5h-213c-5.3,0-9.5,4.3-9.5,9.5
	v295.7C132,401.2,136.3,405.5,141.6,405.5z" />
                                    <path style="fill:#3A3228;" d="M323.7,309.1c0-41.7-33.8-75.6-75.6-75.6s-75.6,33.8-75.6,75.6c0,41.7,33.8,75.6,75.6,75.6
	S323.7,350.8,323.7,309.1z" />
                                    <circle style="fill:#877F74;" cx="248.1" cy="309.1" r="50.6" />
                                    <path style="fill:#A5A4A4;"
                                        d="M248.1,309.1v-50.6c-28,0-50.6,22.7-50.6,50.6H248.1z" />
                                    <g>
                                        <circle style="fill:#3A3228;" cx="248.1" cy="309.1" r="14.8" />
                                        <circle style="fill:#3A3228;" cx="248.1" cy="161.6" r="48.6" />
                                    </g>
                                    <circle style="fill:#877F74;" cx="248.1" cy="161.6" r="27.5" />
                                    <path style="fill:#A5A4A4;"
                                        d="M275.6,161.6h-27.5v27.5C263.3,189.1,275.6,176.8,275.6,161.6z" />
                                    <circle style="fill:#3A3228;" cx="248.1" cy="161.6" r="9.8" />
                                </svg>
                            </button>
                        </a>

                        <div class="column keys-checkbox">
                            <span>Show Keys</span> <input type="checkbox" checked>
                        </div>
        </header>

        <ul class="piano-keys">
            <li class="key white" data-note="a"><span>a</span></li>
            <li class="key black" data-note="w"><span>w</span></li>
            <li class="key white" data-note="s"><span>s</span></li>
            <li class="key black" data-note="e"><span>e</span></li>
            <li class="key white" data-note="d"><span>d</span></li>
            <li class="key white" data-note="f"><span>f</span></li>
            <li class="key black" data-note="t"><span>t</span></li>
            <li class="key white" data-note="g"><span>g</span></li>
            <li class="key black" data-note="y"><span>y</span></li>
            <li class="key white" data-note="h"><span>h</span></li>
            <li class="key black" data-note="u"><span>u</span></li>
            <li class="key white" data-note="j"><span>j</span></li>
            <li class="key white" data-note="k"><span>k</span></li>
            <li class="key black" data-note="o"><span>o</span></li>
            <li class="key white" data-note="l"><span>l</span></li>
            <li class="key black" data-note="p"><span>p</span></li>
            <li class="key white" data-note=";"><span>;</span></li>
        </ul>

        <audio id="s" src="/tunes/s.wav"></audio>
        <audio id="e" src="/tunes/e.wav"></audio>
        <audio id="d" src="/tunes/d.wav"></audio>
        <audio id="f" src="/tunes/f.wav"></audio>
        <audio id="t" src="/tunes/t.wav"></audio>
        <audio id="g" src="/tunes/g.wav"></audio>
        <audio id="y" src="/tunes/y.wav"></audio>
        <audio id="h" src="/tunes/h.wav"></audio>
        <audio id="u" src="/tunes/u.wav"></audio>
        <audio id="j" src="/tunes/j.wav"></audio>
        <audio id="k" src="/tunes/k.wav"></audio>
        <audio id="o" src="/tunes/o.wav"></audio>
        <audio id="l" src="/tunes/l.wav"></audio>
        <audio id="p" src="/tunes/p.wav"></audio>
        <audio id=";" src="/tunes/;.wav"></audio>
        <audio id="a" src="/tunes/a.wav"></audio>
        <audio id="w" src="/tunes/w.wav"></audio>

    </div>





</body>

</html>